{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
