<p-panel
    showHeader="false"
    styleClass="pb-0"
>
    <p-tabs
        [value]="quotesTabs[0].tab"
        scrollable
        class="p-0"
    >
        <p-tablist>
            @for (tab of quotesTabs; track tab.tab){
            <p-tab [value]="tab.tab">{{ tab.tab }}</p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            @for (tab of quotesTabs; track tab.tab) {
            <p-tabpanel [value]="tab.tab">
                <div class="flex justify-center">
                    <p class="font-semibold text-xl">{{ formatCurrency(tab.value, tab.tab) }}</p>
                </div>
            </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
</p-panel>
