<ng-container *ngIf="!isLoading">
    <div class="px-2">
        <div class="flex justify-between items-center">
            <div class="customer-list-header-title">
                <app-breadcrumb [items]="breadcrumbItems" />
            </div>
            <div class="customer-list-header-actions">
                <button
                    pButton
                    type="button"
                    (click)="addCustomer()"
                >
                    Novo cliente
                    <i class="pi pi-plus"></i>
                </button>
            </div>
        </div>

        <app-listing
            [listingData]="listingData"
            [listingOptions]="listingOptions"
            [isLoading]="isLoading"
            [itemsPerPage]="itemsPerPage"
            [currentPage]="currentPage"
            (changePage)="onPageChange($event)"
            (sort)="onSortChange($event)"
        >
        </app-listing>
    </div>
</ng-container>
