<ng-container *ngIf="!isLoading">
    <div
        class="customer-list-header"
        style="display: flex; justify-content: space-between; align-items: center"
    >
        <div class="customer-list-header-title">
            <h2>Clientes</h2>
        </div>
        <div class="customer-list-header-actions">
            <button
                pButton
                type="button"
                (click)="addCustomer()"
            >
                Adicionar novo cliente
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>

    <app-listing
        [listingData]="listingData"
        [listingOptions]="listingOptions"
        [isLoading]="isLoading"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (changePage)="onPageChange($event)"
        (sort)="onSortChange($event)"
    >
    </app-listing>
</ng-container>
