<ng-container *ngIf="!isLoading">
    <p-card>
        <ng-template #title> Simular empréstimo </ng-template>

        <div
            class="form-wrapper"
            *ngIf="!loanSimulation"
        >
            <form
                [formGroup]="loanSimulationForm"
                (submit)="simularEmprestimo()"
            >
                <div>
                    <h3>Moedas</h3>
                    <div class="form-group">
                        <label for="moeda">Moeda:</label>
                        <p-select
                            formControlName="moeda"
                            [options]="coins"
                            optionLabel="nomeFormatado"
                            optionValue="simbolo"
                            placeholder="Selecionar moeda"
                            (onChange)="onCurrencyChange($event)"
                        />
                    </div>
                </div>
                <div *ngIf="currencyQuotes">
                    <h3>Dados do empréstimo</h3>
                    <div class="form-group">
                        <label for="valorObtido">Valor empréstimo:</label>
                        <p-inputnumber
                            formControlName="valorObtido"
                            inputId="currency"
                            mode="currency"
                            currency="USD"
                            locale="en-US"
                        />
                        <div
                            *ngIf="
                                loanSimulationForm.get('valorObtido')?.touched &&
                                loanSimulationForm.get('valorObtido')?.invalid
                            "
                        >
                            Valor do empréstimo é obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taxaConversao">Taxa conversão:</label>
                        <p-inputnumber
                            formControlName="taxaConversao"
                            inputId="currency"
                            mode="currency"
                            currency="USD"
                            locale="en-US"
                            readonly="true"
                        />
                    </div>
                    <div class="form-group">
                        <label for="dataVencimento">Data Vencimento:</label>
                        <p-select
                            formControlName="dataVencimento"
                            [options]="dataVencimentoConverted"
                            optionLabel="value"
                            optionValue="name"
                            placeholder="Selecionar data vencimento"
                        />
                    </div>
                    <div class="form-group">
                        <label for="periodoParcelamento">Periodo de parcelamento:</label>
                        <p-select
                            formControlName="periodoParcelamento"
                            [options]="installmentPeriodConverted"
                            optionLabel="value"
                            optionValue="name"
                            placeholder="Selecionar periodo de parcelamento"
                        />
                    </div>
                    <div class="actions-wrapper">
                        <button
                            type="submit"
                            pButton
                            label="Simular empréstimo"
                            severity="info"
                        ></button>
                    </div>
                </div>
            </form>
        </div>

        <div
            *ngIf="loanSimulation"
            class="simulate-response"
        >
            <div class="group">
                <h3>Data empréstimo</h3>
                <p>{{ loanSimulation.dataEmprestimo }}</p>
            </div>
            <div class="group">
                <h3>Valor empréstimo</h3>
                <p>{{ loanSimulation.valorObtido }}</p>
            </div>
            <div class="group">
                <h3>Taxa conversão</h3>
                <p>{{ loanSimulation.taxaConversao }}</p>
            </div>
            <div class="group">
                <h3>Data Vencimento</h3>
                <p>{{ loanSimulation.dataVencimento }}</p>
            </div>
            <div class="group">
                <h3>Periodo Parcelamento</h3>
                <p>{{ loanSimulation.periodoParcelamento }}</p>
            </div>
            <div class="group">
                <h3>Valor Pagamento</h3>
                <p>{{ loanSimulation.valorPagamento }}</p>
            </div>
            <div class="actions-wrapper">
                <button
                    type="button"
                    pButton
                    label="Fazer empréstimo"
                    (click)="criarEmprestimo()"
                    severity="info"
                ></button>
            </div>
        </div>
    </p-card>
</ng-container>
